/.
/.htaccess
/wp-login.php
/wp-links-opml.php
/wp-trackback.php
/xmlrpc.php
/license.txt
/wp-signup.php
/wp-activate.php

/wp-blog-header.php
/wp-settings.php
/wp-cron.php
/wp-admin/
/wp-includes/
/readme.html
/wp-mail.php
/wp-comments-post.php
/wp-config-sample.php
/wp-load.php
/index.php
/.idea
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/theme-mirada/assets/.sass-cache/

# File types to ignore
*.mp4
/wp-content/plugins/
/wp-content/uploads/
