.container {
  max-width: 1600px;

}
* {
  box-sizing: border-box;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

nav ul, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $gray;
  margin: 0;
  &:hover{
    color: $gray;
    text-decoration: none;
  }
}

// RESET
html,
body,
ul, ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
p.pole{
  text-transform: uppercase;
}

/// BORDER ///
.border-section{
  padding: 0 100px;
  @media (max-width: $bp-medium) {
    padding: 0 20px;
  }

  hr{
    display: flex;
    color: #303030;
    border: 1px solid #303030;
    margin: 0;
  }
  span.text-border{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
  }
}

.border-section-contact {
  padding: 0;
  hr{
    display: flex;
    color: #303030;
    border: 1px solid #303030 ;
    margin: 0;
  }
}



