$large-width: 1660px;
$max-width: 1379px;
$bp-large: 1168px;
$bp-medium-large: 968px;
$bp-medium: 768px;
$bp-small: 600px;
$bp-min-small: 380px;
$marge: 20px;

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

$yellow: #FFD13D;

$gray:#333333;

