section {
  display: flex;
  width: 100%;
  padding: 0 100px;
  margin: 3rem 0 4rem;
  @include media-breakpoint-down(md) {
    padding: 0 50px;
    margin: 3rem 0 4rem;
  }
  @include media-breakpoint-down(sm) {
    padding: 0 20px;
    margin: 3rem 0 4rem;
  }
}