.container {
  max-width: 1800px;
  max-height: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-bottom: 160px;
}

/*#header .container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}*/

.header .infos {
  //bottom: 60px;
  border-radius: 200px 0 0 0;
  box-shadow: -9px 15px 22px 1px rgba(120, 99, 99, 0.21);
  background-color: #FFD000;
  left: 220px;
  height: 480px;
  width: 650px;
  top: 150px;
  right: 0;
  z-index: 1;
  color: black;
  position: relative;
  @include media-breakpoint-down(md) {
    border-radius: 100px 0 0 0;
    box-shadow: -9px 15px 22px 1px rgb(120 99 99 / 21%);
    background-color: #FFD000;
    left: 20px;
    height: 211px;
    width: 311px;
    top: 0px;
    right: 0;
    z-index: 0;
    color: black;
    position: relative;
  }
}


.header .photos {

    background-color: #333333;
    width: 285px;
    height: 318px;
    bottom: 0;
    top: 186px;
    position: absolute;
    z-index: 0;
    left: 49px;
    right: 0;
    box-shadow: -9px 15px 22px 1px rgb(0 0 0 / 21%);
    @include media-breakpoint-up(md) {
    background-color: #333333;
    border-radius: 10px;
    width: 730px;
    height: 700px;
    bottom: 0;
    top: 45px;
    position: absolute;
    z-index: 0;
    left: 780px;
    right: 0;
    box-shadow: -9px 15px 22px 1px rgba(0, 0, 0, 0.21);
  }
}

.header .photos img {
  width: 80%;
  left: 94px;
  bottom: 0;
  top: -104px;
  right: 0;
  position: relative;
  @include media-breakpoint-down(md) {
    width: 100%;
    left: 7px;
    bottom: 0;
    top: -75px;
    right: 0;
    position: relative;
  }
}
.flip{
  justify-content: start;
}
/*before :after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}*/
