.navbar{
  img{
    width: auto;
    padding-left:25px;

  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 2rem;
    }
  }
}
.navbar-container{
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  .navbar-brand{
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      padding: 10px 0;
    }
  }
  .navbar-toggler-icon{
    font-size: 20px;
  }
}


@include media-breakpoint-down(md) {
  .cta-nav {
    display: none;
  }
}


/** Links & Buttons **/
.menu-item {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: $yellow;
  padding: 0 0.5rem;

  &:before {
    content: '';
    width: 0%;
    height: 10px;
    border-radius: 4px;
    background-color: $yellow;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: -1;
    transition-duration: 200ms;
  }

  &:hover {
    color: $yellow;
    text-decoration: none;

    &:before {
      width: 100%;
    }
  }
}

.navbar-nav, .menu-item{
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}

